.products-section {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;

  &__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__tabs {
    align-items: center;
    display: flex;
    gap: 1.5rem;
  }

  &__tab {
    color: var(--clr-text-primary);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;

    &--active {
      color: var(--clr-accent-primary);
    }

    &:hover {
      color: var(--clr-accent-primary);
    }
  }

  &__products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin-bottom: 3rem;
  }

  &__button {
    align-self: center;
    background: var(--clr-accent-primary);
    border-radius: 0.2rem;
    border: none;
    color: var(--clr-text-neutral);
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 400;
    min-width: 30%;
    padding: 0.5rem 1rem;
    transition: (--transition-fast);
    width: fit-content;

    &:hover {
      transform: scale(1.01);
    }
  }
}

@media (max-width: 710px) {
  .products-section {
    &__menu {
      justify-content: center;
    }

    &__button {
      min-width: 85%;
    }
  }
}
