<section class="hero-section">
  <div class="hero-section__wrapper">
    <div class="hero-section__content">
      <h1 class="hero-section__title">
        <span class="hero-section__accent">Flowers</span>, the perfect gift for
        any occasion.
      </h1>
      <p class="hero-section__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod,
        nisi eu consectetur consectetur, nisi nisi. Donec euismod, nisi eu
        consectetur consectetur, nisi nisi.
        <a href="#" class="hero-section__link">
          <span class="hero-section__accent">Learn more</span>
        </a>
      </p>
    </div>
  </div>
</section>
