<div class="cart-item">
  <div class="cart-item__product-wrapper">
    <div class="cart-item__image-wrapper">
      <img
        class="cart-item__image"
        [src]="(product$ | async)?.images[0]"
        alt=""
      />
    </div>
    <p class="cart-item__title">{{ (product$ | async)?.name }}</p>
  </div>
  <p class="cart-item__price">{{ (product$ | async)?.price | currency }}</p>

  <p class="cart-item__quantity">
    <button class="cart-item__decrease-button" (click)="decreaseQuantity()">
      -
    </button>
    <span>{{ itemProps.quantity }}</span>
    <button class="cart-item__increase-button" (click)="increaseQuantity()">
      +
    </button>
  </p>
  <p class="cart-item__subtotal">
    <span>{{ (product$ | async)?.price * itemProps.quantity | currency }}</span>
  </p>
  <button class="cart-item__remove-button" (click)="removeFromCart()">X</button>
</div>
