<section class="newsletter-section">
  <div class="newsletter-section__wrapper">
    <h1 class="newsletter-section__title">Stay in touch with Us!</h1>
    <form class="newsletter-section__form">
      <input
        aria-label="Email Address"
        class="newsletter-section__input"
        type="email"
        name="email"
        placeholder="Enter your email..."
      />
      <button (onclick)="(handleSubmit)" class="newsletter-section__button">
        Subscribe
      </button>
    </form>
  </div>
</section>
