.newsletter-section {
  height: 70vh;
  background: url("/assets/images/sections/newsletter-image-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 60%;
    padding: 2rem;
    border-radius: 0.3rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-newsletter-bg);
  }

  &__title {
    font-size: 2.5rem;
    color: var(--clr-text-primary);
    font-weight: 400;
  }

  &__form {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
  }

  &__input {
    flex: 3;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.1rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: var(--clr-text-primary);
    font-weight: 400;
    transition: var(--transition-base);

    &:focus {
      outline: none;
      border-bottom: 3px solid var(--clr-accent-primary);
    }
  }

  &__button {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.1rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: var(--clr-text-neutral);
    font-weight: 600;
    transition: var(--transition-base);
    cursor: pointer;
    background: var(--clr-accent-primary);
    border-bottom: 1px solid var(--clr-accent-primary);
    outline: none;
  }
}

@media (max-width: 1000px) {
  .newsletter-section {
    &__wrapper {
      width: 80%;
    }
  }
}

@media (max-width: 700px) {
  .newsletter-section {
    &__wrapper {
      width: 60vh;
    }
    &__wrapper {
      width: 90%;
    }

    &__title {
      font-size: 2rem;
    }

    &__form {
      flex-direction: column;
    }

    &__input {
      margin-bottom: 0.5rem;
    }

    &__button {
      width: 100%;
      height: 3.5rem;
      font-size: 1rem;
    }
  }
}

@media (max-width: 460px) {
  .newsletter-section {
    height: 50vh;

    &__wrapper {
      width: 98%;
    }
    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
