.auth-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding-top: var(--navbar-height);

  &__form {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 40rem;
  }

  &__input {
    border-radius: 0.2rem;
    border: 1px solid var(--clr-text-primary);
    font-size: 1.2rem;
    height: 3.5rem;
    max-width: 100%;
    outline: none;
    padding: 0 0.5rem;

    &:focus {
      outline: none;
    }
  }

  &__button {
    background-color: var(--clr-accent-primary);
    border-radius: 0.2rem;
    border: none;
    color: var(--clr-text-neutral);
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 1rem;
    min-width: 20rem;
    outline: none;
    padding: 0.5rem 1rem;
    transition: var(--transition-fast);
    width: fit-content;

    &:hover {
      transform: scale(1.01);
    }
  }
}

@media (max-width: 400px) {
  .auth-page {
    &__button {
      width: 100%;
    }
  }
}
