<section class="ca-section">
  <div class="ca-section__wrapper container">
    <div class="ca-section__image-wrapper">
      <img
        class="ca-section__image"
        src="assets/images/sections/couple-image.jpg"
        alt=""
      />
    </div>
    <div class="ca-section__content">
      <h1 class="ca-section__title">Surprise Your Better Half!</h1>
      <h2 class="ca-section__subtitle">We are here to help you</h2>
      <p class="ca-section__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod,
        nisi eget consectetur. Donec euismod, nisi eget consectetur.
      </p>
      <ul class="ca-section__list">
        <li class="ca-section__list-item">You tell us what you want</li>
        <li class="ca-section__list-item">We do the rest</li>
        <li class="ca-section__list-item">You get what you want</li>
      </ul>
    </div>
  </div>
</section>
