.product-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: blue;
  }

  &__content {
    display: flex;
    gap: 1rem;
  }

  &__gallery {
    flex: 1;
  }

  &__info {
    flex: 1;
  }
}
