<article class="product-page">
  <app-page-header
    [title]="title"
    [description]="description"
  ></app-page-header>
  <div class="product-page__wrapper container">
    <div class="product-page__content">
      <img [src]="(product$ | async)?.images[0]" alt="product" />
      <div class="product-page__info">
        <h1 class="product-page__title">
          {{ (product$ | async)?.name }}
        </h1>
        <div class="product-page__price">
          {{ (product$ | async)?.price | currency: "USD":true }}
        </div>
        <p class="product-page__description">
          {{ (product$ | async)?.description }}
        </p>
        <div class="product-page__actions">
          <input
            type="number"
            value="1"
            class="product-page__input"
            min="1"
            max="100"
            step="1"
            (change)="setQuantity($event)"
          />
          <button class="product-page__button" (click)="addToCart()">
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</article>
