<section class="navbar">
  <div class="navbar__wrapper container">
    <h1 class="navbar__logo"><span class="navbar__accent">Flor</span>ana</h1>
    <nav>
      <ul class="navbar__links">
        <li class="navbar__link"><a routerLink="/">Home</a></li>
        <li class="navbar__link"><a routerLink="/cart">Cart</a></li>
        <li *ngIf="!(isLoggedIn$ | async)" class="navbar__link">
          <a routerLink="/auth">Login</a>
        </li>
        <li *ngIf="isLoggedIn$ | async" class="navbar__link" (click)="logout()">
          Logout
        </li>
      </ul>
    </nav>
  </div>
</section>
