.footer {
  margin-top: 4rem;
  height: var(--footer-height);
  background-color: var(--clr-bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__copyright {
    color: var(--clr-text-neutral);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
